body {background-color:rgba(0,0,0,0.05);}

.sidebar {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    padding:0;
    color:rgba(0,0,0,0.8);
    /* background-color:rgb(70,130,180); */
    background-color:rgba(255,255,255,0.85);
    box-shadow:0px 0px 7px rgba(0,0,0,0.3);
}
.sidebar__title {
    text-align:center;
    padding:10px 0px;
}
.sidebar__user {
    text-align:center;
    padding:0px 10px;
}
.sidebar__image {
    width:80%;
    display:block;
    margin:0 auto;
    border-radius:50%;
    box-shadow:0px 0px 7px rgba(0,0,0,0.3);
}
.sidebar__usertext {
    padding:10px 0px;
    display:block;
}
.sidebar__item {
    float:left;
    width:100%;
    padding:10px 20px;
    color:rgba(0,0,0,0.8);
}
.sidebar__item:hover, .sidebar__item--active {
    text-decoration:none;
    color:rgba(0,0,0,1);
    background-color:rgba(0,0,0,0.04);
    /* box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,1); */
}
.sidebar__dropdown {margin:5px;}

.cbox {
    background-color:rgba(255,255,255,0.85);
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.7);
    margin-top:15px;
    padding:15px;
}
.cbox__title {
    color:#555;
    width:100%;
    font-size:16px;
    font-weight:bold;
}
.cbox__subtext {
    color:rgba(0,0,0,0.5);
    display:block;
    padding-top:7px;
    padding-bottom:13px;
}

.checkbox {}
.checkbox__text {
    padding:0px 5px;
}

.repo {
    padding:5px 0px;
}
.repo__name {
    font-size:16px;
}
.repo__desc {}

.organisation {
    float:left;
    padding:20px;
}
.organisation:hover {background-color:rgba(0,0,0,0.025);}
.organisation__image {
    float:left;
    width:30%;
    margin-right:10px;
}
.organisation__title {
    margin-top:15px;
}
.organisation__description {}

.flash {
    /* position:fixed; */
    color:rgba(0,0,0,0.6);
    text-align:center;
}
.flashMsg {
    padding:10px;
    background-color:rgba(0,0,255,0.5);
}
.flashMsg__success {background-color:rgba(0,255,0,0.5);}
.flashMsg__fail {background-color:rgba(255,0,0,0.5);}
