body {background-color:rgba(0,0,0,0.05);}

.sidebar {
    position:fixed;
    top:0px;
    left:0px;
    height:100%;
    padding:0;
    color:rgba(0,0,0,0.8);
    /* background-color:rgb(70,130,180); */
    background-color:rgba(255,255,255,0.85);
    box-shadow:0px 0px 7px rgba(0,0,0,0.3);
}
.sidebar__title {
    text-align:center;
    padding:10px 0px;
}
.sidebar__user {
    text-align:center;
    padding:0px 10px;
}
.sidebar__image {
    width:80%;
    display:block;
    margin:0 auto;
    border-radius:50%;
    box-shadow:0px 0px 7px rgba(0,0,0,0.3);
}
.sidebar__usertext {
    padding:10px 0px;
    display:block;
}
.sidebar__item {
    float:left;
    width:100%;
    padding:10px 20px;
    color:rgba(0,0,0,0.7);
}
.sidebar__item:hover, .sidebar__item--active {
    text-decoration:none;
    color:rgba(0,0,0,0.9);
    background-color:aliceblue;
    /* box-shadow: inset 0 -5px 5px -5px rgba(0,0,0,1); */
}
.sidebar__alert {color:red; margin-left:7px;}
.sidebar__dropdown {
    margin:5px;
    margin-bottom:20px;
}
.Dropdown-control {
    background-color:rgba(255,255,255,0.85) !important;
    border-radius:5px !important;
}

.cbox {
    background-color:rgba(255,255,255,0.85);
    box-shadow:0px 0px 5px rgba(0,0,0,0.1);
    color:rgba(0,0,0,0.65);
    margin-top:15px;
    margin-bottom:15px;
    padding:15px;
}
.cbox__title {
    color:#555;
    width:100%;
    font-size:16px;
    font-weight:bold;
}
.cbox__subtext {
    color:rgba(0,0,0,0.5);
    display:block;
    padding-top:7px;
    padding-bottom:13px;
}
.cbox a {color:rgba(0,0,0,0.65);}

.loginbox {
    /* position: relative;
    top: 100%; */
    margin-top:200px;
    padding-top:30px;
    text-align:center;
}
.loginbox a {color:white;}
.loginbox__byline {text-align:center; margin-top:20px; color:rgba(0,0,0,0.35);}
.loginbox__byline a {color:rgba(0,0,0,0.35);}

.checkbox {}
.checkbox__text {
    padding:0px 5px;
}

.repo {
    padding:5px 0px;
}
.repo__name {
    font-size:16px;
}
.repo__desc {}

.organisation {
    float:left;
    padding:20px;
}
.organisation:hover {background-color:rgba(0,0,0,0.025);}
.organisation__image {
    float:left;
    width:30%;
    margin-right:10px;
}
.organisation__title {
    margin-top:15px;
}
.organisation__description {}

.flash {
    /* position:fixed; */
    color:rgba(0,0,0,0.75);
    text-align:center;
}
.flashMsg {
    padding:10px;
    background-color:rgba(0,0,255,0.5);
    margin:0;
    margin-top:15px;
}
.flashMsg__mini {font-size:12px; color:rgba(0,0,0,0.5);}
.flashMsg__success {background-color:rgba(0,255,0,0.5);}
.flashMsg__fail {background-color:rgba(255,0,0,0.5);}

.event {display:block; overflow:auto; padding:10px; height:90px; font-size:15px; color:rgba(0,0,0,0.7); margin-bottom:10px;}
.event--highlight {background-color:aliceblue;}
.event__image {float:left; height:100%; margin-right:10px;}
.event__time {display:block; font-style:italic; color:rgba(0,0,0,0.45);}
.event__type {display:block;}
.event__user {display:block; font-style:italic; color:rgba(0,0,0,0.45);}
.event__user a {color:rgba(0,0,0,0.45);}
